<div class="max-w-96 h-auto shadow-lg shadow-gray-500  text-violet-50  bg-dark-purple rounded-xl py-6 px-4 font-sans flex flex-col gap-8">
    <header>
        <h1 class="font-semibold text-2xl">
            Generate password
        </h1>
    </header>
    <main class="text-neutral-400 flex flex-col gap-4" >
        <div class="uppercase font-light text-opacity-10 text-xs flex flex-col gap-2">
            Generated Password

            <div class="relative">
                <input type="text" [(ngModel)]="generatedPassword" disabled class="w-full h-12 px-2 rounded-2xl truncate pr-12 text-base text-ellipsis  font-bold tracking-wider text-neutral-200 bg-purple-500 bg-opacity-20">
                <div class="absolute right-2 flex top-1/2 -translate-y-1/2 gap-2 fill-fuchsia-500">
                    <div class="absolute text-nowrap -top-10" [ngClass]="showCopy?'show':'hide'">
                        COPIED !
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 cursor-pointer" (click)="copy()"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M384 336l-192 0c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l140.1 0L400 115.9 400 320c0 8.8-7.2 16-16 16zM192 384l192 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L192 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-32-48 0 0 32c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l32 0 0-48-32 0z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 cursor-pointer" (click)="generatePassword()"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M142.9 142.9c-17.5 17.5-30.1 38-37.8 59.8c-5.9 16.7-24.2 25.4-40.8 19.5s-25.4-24.2-19.5-40.8C55.6 150.7 73.2 122 97.6 97.6c87.2-87.2 228.3-87.5 315.8-1L455 55c6.9-6.9 17.2-8.9 26.2-5.2s14.8 12.5 14.8 22.2l0 128c0 13.3-10.7 24-24 24l-8.4 0c0 0 0 0 0 0L344 224c-9.7 0-18.5-5.8-22.2-14.8s-1.7-19.3 5.2-26.2l41.1-41.1c-62.6-61.5-163.1-61.2-225.3 1zM16 312c0-13.3 10.7-24 24-24l7.6 0 .7 0L168 288c9.7 0 18.5 5.8 22.2 14.8s1.7 19.3-5.2 26.2l-41.1 41.1c62.6 61.5 163.1 61.2 225.3-1c17.5-17.5 30.1-38 37.8-59.8c5.9-16.7 24.2-25.4 40.8-19.5s25.4 24.2 19.5 40.8c-10.8 30.6-28.4 59.3-52.9 83.8c-87.2 87.2-228.3 87.5-315.8 1L57 457c-6.9 6.9-17.2 8.9-26.2 5.2S16 449.7 16 440l0-119.6 0-.7 0-7.6z"/></svg>
                </div>
            </div>
        </div>
        <div class="uppercase font-light text-opacity-10 text-xs flex flex-col gap-2">
            <div class="flex justify-between">Character length: <div  class="font-bold text-sm text-fuchsia-500">{{length}}</div></div>
            <div class="w-full font-normal h-10 rounded-2xl bg-purple-500 bg-opacity-20 flex items-center justify-around text-center">
                <div class="w-1/12">12</div>
                <input 
                    type="range" 
                    class="
                    bg-gray-700
                    [&::-webkit-slider-runnable-track]:rounded-full 
                    [&::-webkit-slider-thumb]: bg-black
                    [&::-webkit-slider-thumb]:h-5 
                    [&::-webkit-slider-thumb]:w-5 
                    [&::-webkit-slider-thumb]:rounded-full 
                    [&::-webkit-slider-runnable-track]:bg-purple-500;
                    rounded-full
                    h-2
                    w-9/12 
                    accent-fuchsia-500
                     transition-all
                    "
                    [(ngModel)]="length"
                    min="12"
                    max="32" >
                <div class="w-1/12">32</div>
            </div>
        </div>
        <div class="uppercase font-light text-opacity-10 text-xs flex flex-col gap-2">
            Settings
            <div class="w-full font-normal h-10 rounded-2xl text-xs normal-case bg-purple-500 bg-opacity-20 flex items-center px-2 justify-between text-center">
                Include uppercase letters
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" [(ngModel)]="incudeUppercase" class="sr-only peer" checked>
                    <div class="relative w-7 h-4 bg-fuchsia-400 opacity-40 rounded-full peer  dark:bg-gray-700 transition-all peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-3 after:w-3 after:transition-all dark:border-gray-600 peer-checked:bg-fuchsia-600 peer-checked:opacity-100"></div>
                </label>
            </div>
            <div class="w-full font-normal h-10 rounded-2xl text-xs normal-case bg-purple-500 bg-opacity-20 flex items-center px-2 justify-between text-center">
                Include lowercase letters
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" [(ngModel)]="includeLowercase" class="sr-only peer" checked>
                    <div class="relative w-7 h-4 bg-fuchsia-400 opacity-40 rounded-full peer  dark:bg-gray-700 transition-all peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-3 after:w-3 after:transition-all dark:border-gray-600 peer-checked:bg-fuchsia-600 peer-checked:opacity-100"></div>
                  </label>
            </div>
            <div class="w-full font-normal h-10 rounded-2xl text-xs normal-case bg-purple-500 bg-opacity-20 flex items-center px-2 justify-between text-center">
                Include numbers
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" [(ngModel)]="includeNumbers" class="sr-only peer" checked>
                    <div class="relative w-7 h-4 bg-fuchsia-400 opacity-40 rounded-full peer  dark:bg-gray-700 transition-all peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-3 after:w-3 after:transition-all dark:border-gray-600 peer-checked:bg-fuchsia-600 peer-checked:opacity-100"></div>
                  </label>
            </div>
            <div class="w-full font-normal h-10 rounded-2xl text-xs normal-case bg-purple-500 bg-opacity-20 flex items-center px-2 justify-between text-center">
                Include symbols
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" [(ngModel)]="includeSpecialChars" class="sr-only peer" checked>
                    <div class="relative w-7 h-4 bg-fuchsia-400 opacity-40 rounded-full peer  dark:bg-gray-700 transition-all peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-3 after:w-3 after:transition-all dark:border-gray-600 peer-checked:bg-fuchsia-600 peer-checked:opacity-100"></div>
                  </label>
            </div>
            
        </div>
    </main>
    <button (click)="generatePassword()" class=" w-full text-sm font-bold text-gray-100 bg-fuchsia-500 rounded-md py-2">
        Generate Password
    </button>

</div>